{% extends _layout %}

{% block content %}

    <ul class="breadcrumb">
        <li><a href="{{ site_url }}">หน้าหลัก</a> <span class="divider">/</span></li>
        <li class="active">ตรวจสอบข้อมูล Person จากฐาน DBPOP</li>
    </ul>

    <div class="alert alert-info">
        <strong>โปรดทราบ</strong> การตรวจสอบแฟ้ม Person นี้เป็นการตรวจสอบเทียบกับข้อมูลในฐาน DBPOP ซึ่งประกอบไปด้วยการตรวจสอบจำนวนประชากร และข้อมูลสิทธิ์การรักษา.
    </div>

    <ul class="nav nav-pills">
        <li class="active">
            <a href="#tabMain" data-toggle="tab">
                <i class="icon-upload"></i>
                อัปโหลดไฟล์
            </a>
        </li>
        <li>
            <a href="#tabSearch" id="lnkTabCheck" data-toggle="tab">
                <i class="icon-check"></i>
                ตรวจสอบข้อมูล
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tabMain">
            <blockquote>
                <p>เลือกไฟล์ที่ต้องการอัปโหลด โดยเป็นไฟล์ .zip เท่านั้น และ ขนาดไฟล์ไม่เกิน 4MB</p>
            </blockquote>

            <form id="frmUpload" class="form-actions form-inline" action="{{ site_url }}uploads/do_upload" method="post" enctype='multipart/form-data'>
                <input type="file" id="userfile" name="userfile" style="display: none;">
                <label for="txtTrueFile"></label>
                <input type="text" id="txtFileName" class="input-xxlarge uneditable-input" disabled style="background-color: white;" />
                <button type="button" class="btn btn-success" id="btnSelectFile">
                    <i class="icon-folder-open"></i> เลือกไฟล์...
                </button>
                <button type="submit" class="btn btn-primary" id="btnDoUpload">
                    <i class="icon-upload"></i> อัปโหลดไฟล์
                </button>
                <div id="divLoading" style="display: none;">
                    &nbsp; <img src="{{ base_url }}assets/apps/img/ajax-loader.gif" alt="Loading...">  &nbsp;Uploading...
                </div>
            </form>

            <div id="divErrorUpload" class="alert alert-warning span11" style="display: none;">
                <strong>เกิดข้อผิดพลาด!</strong> <span id="txtErrorText"></span>
            </div>
            <table class="table table-striped" id="tblFileToUpload">
                <thead>
                <tr>
                    <th>ชื่อไฟล์</th>
                    <th>ขนาดไฟล์</th>
                    <th>MIM Type</th>
                    <th>ส่วนขยาย</th>
                    <th>ผลการตรวจสอบ</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tabSearch">
            <table class="table table-striped" id="tblUploadFileList">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ชื่อไฟล์</th>
                    <th>วันที่</th>
                    <th>อัปโหลดโดย</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


    <div class="modal hide fade" id="mdlShowPatientRight">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>ข้อมูลสิทธิการรักษา</h3>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>เลขที่บัตร</td>
                    <td><p id="txtPersonRightNo"></p></td>
                </tr>
                <tr>
                    <td>สิทธิการรักษาหลัก</td>
                    <td><p id="txtPersonMainRightName"></p></td>
                </tr>
                <tr>
                    <td>สิทธิการรักษารอง</td>
                    <td><p id="txtPersonRightName"></p></td>
                </tr>
                <tr>
                    <td>วันออกบัตร</td>
                    <td><p id="txtPersonRightStart"></p></td>
                </tr>
                <tr>
                    <td>วันหมดอายุ</td>
                    <td><p id="txtPersonRightExpire"></p></td>
                </tr>
                <tr>
                    <td>สถานบริการหลัก</td>
                    <td><p id="txtPersonRightHmain"></p></td>
                </tr>
                <tr>
                    <td>สถานบริการรอง</td>
                    <td><p id="txtPersonRightHsub"></p></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
                <i class="icon-off"></i>
                ปิดหน้าต่าง
            </button>
        </div>
    </div>

    <script type="text/javascript" src="{{ base_url }}assets/apps/js/apps.upload.js"></script>
{% endblock %}